.cities {
  list-style: none;
  padding: 0;
}
.cities li {
  display: inline;
  margin: 0 3px;
}
.Sunny {
  max-width: 100%;
  margin: 25px 8px;
  text-align: center;
}
hr {
  margin: 20px 0;
  opacity: 0.035;
}
body {
  margin: 0 auto;
  max-width: 700px;
  padding: 30px;
}
.list {
  padding: 0;
}
.position-absolute {
  top: 140px;
  right: 70px;
}
.cities,
h2,
.Sunny,
.time,
.details {
  color: #5a6275;
}
.cities {
  font-weight: 500;
  font-size: 16px;
}
h1 {
  font-weight: 800;
}
h2 {
  font-weight: 500;
  font-size: 20px;
}
h3 {
  font-weight: 800;
  font-size: 30px;
}
.temp-signs {
  font-size: medium;
  position: relative;
  top: -10px;
  right: -2px;
}
a {
  text-decoration: none;
}
.Sunny,
.time,
.details {
  font-size: 15px;
  font-weight: 700;
}
h1,
h3 {
  font-family: "Nunito", sans-serif;
}
#currentCity {
  padding-left: 47px;
  padding-right: 47px;
}
.time {
  line-height: 5px;
}
a.active {
  color: black;
  cursor: default;
}
.weatherForecastTemps {
  font-size: 14px;
}
